body
{
	background:#F5F6F7;
}

a,
a:hover
{
	color:#0088CC;
}

h1,
.h1
{
	padding-bottom:4px;
	padding-left:10px;
}

#section_menu
{	
	right:4px;
}

#logo, #logo:hover
{
    color: #DCB14D;
    font-size: 28px;
}

#header,
#main_content_holder
{
	background:transparent;
}

#holder_notify ul li a.friend_notification
{
	background:url('../image/layout/holder_notify_friend_request.png') no-repeat 50% 0px;
}

#holder_notify ul li.is_active a.friend_notification
{
	background:#fff url('../image/layout/holder_notify_friend_request.png') no-repeat 50% -40px;
}

#holder_notify ul li a.message
{
	background:url('../image/layout/holder_notify_message.png') no-repeat 50% 0px;
}

#holder_notify ul li.is_active a.message
{
	background:#fff url('../image/layout/holder_notify_message.png') no-repeat 50% -40px;
}

#holder_notify ul li a.notification
{
	background:url('../image/layout/holder_notify_notification.png') no-repeat 50% 0px;
}

#holder_notify ul li.is_active a.notification
{
	background:#fff url('../image/layout/holder_notify_notification.png') no-repeat 50% -40px;
}

#content_holder
{
	background:#fff;
	margin-top:10px;
	/* padding:0px 8px 0px 8px; */
	border:1px #dfdfdf solid;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  	border-radius:10px;  	
	
  	-moz-box-shadow:6px 6px 6px #EFEFEF;
  	-webkit-box-shadow:6px 6px 6px #EFEFEF;
  	box-shadow:6px 6px 6px #EFEFEF;		
}

#footer
{
	border-top:0px;
	padding:0px 10px 10px 10px;	
}
#header_menu_holder ul li ul li a:hover{
    background: /*#658ab0*/#469393;
    background-position: 0px -5px;
    border-bottom-color: /*#4e7199*/ #469393;
}
a.item_bar_action_clicked, a.item_bar_action_clicked:hover{
    color: #FFF;
}
.privacy_setting_holder ul li a:hover{
    background: /*#658ab0*/ #469393;
    background-position: 0px -5px;
    border-bottom-color: /*#4e7199*/ #469393;
}

#header_menu
{
	/*background:rgb(128, 133, 130) url('../image/layout/cosmic_header_menu.png') repeat-x bottom;*/
	/*position:relative;*/
	/**/
	/*border:1px #000 solid;*/
	/**/
	/*-moz-border-radius:10px;*/
	/*-webkit-border-radius:10px;*/
  	/*border-radius:10px;  	*/
	/**/
  	/*-moz-box-shadow:3px 3px 3px #CFCFCF;*/
  	/*-webkit-box-shadow:3px 3px 3px #CFCFCF;*/
  	/*box-shadow:3px 3px 3px #CFCFCF;		*/
    background: /*rgba(201, 154, 77, 0.97)#C29338 #4e729a*/#469393 repeat-x bottom;
    position: relative;
    border: 1px #FFF solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px #CFCFCF;
    -webkit-box-shadow: 3px 3px 3px #CFCFCF;
    box-shadow: 3px 3px 3px #CFCFCF;
}

#header_menu ul li a,
#header_menu ul li a:hover
{
	color:#fff;
	border:0px;
	line-height:36px;
	height:40px;
	border-right:1px #FFFFFF solid;
	font-size:13px;	
}

#header_menu ul li a:hover
{
	/*background:#3F3F3F;
	color:#fff;
    background: #B76B3E;
    color: #fff;*/
    background: #78BBBB/*#469393*/;
    background-position: 0px -5px;
    border-bottom-color: #4e7199;

}
.js_box_title{
    background: /*#4e729a*/ #469393;
}
input.button_register, #main_registration_form_holder input.button_register, #header_user_register a, #header_user_register a:hover{
    background: /*#658ab0*/#469393;
    border: 1px solid /*#496b93*/#ffffff;
    /*text-shadow: 0 1px 0 #5578A0 #ffffff;*/
}
.sub_section_menu ul li.active a, .sub_section_menu ul li.active a:hover{
    font-weight: bold;
    background: /*#A2620C #4e729a*/ #469393 repeat-x;
    color: #FFFFFF;
    /* border-bottom: 5px solid #A2620C; */
    height: 25px;
    padding: 4px 0px 0px 4px;
}
#section_menu ul li a, #section_menu ul li a:hover{
    display: block;
    line-height: 30px;
    /*background: #658ab0 repeat-x bottom;
    border: 1px #0A69AF solid;*/
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    margin-left: 5px;
    /*color: #fff !important;*/
    font-weight: bold;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,0.1);
    color: #444!important;
    font-size: 11px;
    background: #f5f5f5;
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: linear-gradient(top,#f5f5f5,#f1f1f1);
    -moz-box-shadow: 2px 2px 2px #f1f1f1;
    -webkit-box-shadow: 2px 2px 2px #f1f1f1;
    box-shadow: 2px 2px 2px #f1f1f1;
}
#section_menu ul li a:hover{
    border-color: #c6c6c6;
    color: #222!important;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background: #f8f8f8;
    background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background: linear-gradient(top,#f8f8f8,#f1f1f1);
}
.main_breadcrumb_holder
{
	position:relative;
}

#breadcrumb_list
{
	padding:0px;
	margin:15px 0px 0px 0px;
	background:#fff;
	border:1px #dfdfdf solid;
	padding:0px 10px 0px 10px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  	border-radius:10px;  	
}

#breadcrumb_list ul li
{
	line-height:30px;	
}

#breadcrumb_list ul li a,
#breadcrumb_list ul li a:hover,
#breadcrumb_list ul li a.home,
#breadcrumb_list ul li a.home:hover
{
	color:#333;
	line-height:30px;
	height:30px;
	padding:0px 10px 0px 10px;
}

#breadcrumb_list ul li a.home,
#breadcrumb_list ul li a.home:hover
{
	padding-left:0px;
}

input.button,
a.button_off_link,
a.button_off_link:hover
{
	background:/*#3997E1 url('../image/layout/button.png') #658ab0*/ #469393 /*#A2620C*/ repeat-x bottom;
	border:1px  #ffffff/*#0A69AF #DA8411*/ solid;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
  	border-radius:2px;
}

input.button_off,
a.button_off_link,
a.button_off_link:hover,
input.button_not_active,
input.button_not_active:hover
{
	background:#F2F2F2;
	border:1px #dfdfdf solid;
}

#header_menu_holder ul li a,
#header_menu_holder ul li a:hover,
#header_menu_holder ul li a.has_drop_down,
#holder_notify ul li a.notify_drop_link
{
	color:#333;
	font-weight:normal;
	
	border-right:1px transparent solid;
	border-left:1px transparent solid;	
}

#header_menu_holder ul li a:hover,
#header_menu_holder ul li a.has_drop_down:hover,
#holder_notify ul li a.notify_drop_link:hover
{
	background-color:transparent;	
	text-decoration: underline;
}

#header_menu_holder ul li ul li a,
#header_menu_holder ul li ul li a:hover
{
	text-decoration:none;
}

#header_menu_holder ul li a.active,
#header_menu_holder ul li a.active:hover,
#holder_notify ul li.is_active a.notify_drop_link:hover
{
	background-color:#fff;
	border-right:1px #000 solid;
	border-left:1px #000 solid;
}

#header_menu_holder ul li ul
{
	right:0px;
}

#holder_notify ul li a.notify_drop_link:hover
{
	background-color:#fff;
}

#header_sub_menu_search_input
{
	background:url('../image/layout/header_search_input.png') no-repeat;
}

#header_sub_menu_search .focus
{
	background:url('../image/layout/header_search_input.png') no-repeat 0px -26px;
}

.content3
{
	width:510px;
}

#header_menu_login .header_menu_login_label,
#header_menu_login_custom
{
	color:#333;
}

/**
Mobile
*/
#mobile_holder #holder
{
	background:#fff;
}

#mobile_footer
{
	color:#333;
}

#mobile_footer ul li a,
#mobile_footer ul li a:hover
{
	color:#333;
}

.profile_timeline_header_holder .no_cover_photo .profile_header_inner
{
	width:800px;
}

/* Fixes bug 13957 and 14307 */
#js_controller_photo_albums #content_load_data h1
{
	position: relative;
}